# CSE-221710314065-DHEERAJ BAMAR

# Question 1:
[Data Series] 
Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [20]:
import pandas as pd
import numpy as np
A = pd.Series([2, 4, 6,8,10])
B = pd.Series([1, 3, 5,7,9])
C = A + B
D = A - B
E = A * B
F = A / B
data = {"First":A,"Second":B,"ADD":C,"SUB":D,"MUL":E,"DIV":F}
df = pd.DataFrame(data,dtype=np.int32)
df

   First  Second  ADD  SUB  MUL  DIV
0      2       1    3    1    2    2
1      4       3    7    1   12    1
2      6       5   11    1   30    1
3      8       7   15    1   56    1
4     10       9   19    1   90    1

# Question 2:
[Quartiles] 
Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [21]:
import numpy as np
x = np.random.RandomState(100)
y = pd.Series(x.normal(10,4,20))
print(y)
z= np.percentile(y,[0,25,50,75,100])
z

0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

array([ 3.00093811,  8.09463867, 10.23353705, 12.21537733, 14.61214321])

## Question 3:
[List Difference] 
Write a Pandas program to get the items of a given series not present in another given series.

In [22]:
n = pd.Series([1,2,3,4,5])
m = pd.Series([2,4,6,8,10])
print(n)
print(m)
n[~n.isin(m)]

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64

0    1
2    3
4    5
dtype: int64

## Question 4:
[Filter Words with Multiple Vowels] 
Write a Pandas program to filter words from a given series that contain at least two vowels.

In [23]:
from collections import Counter
c = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(c)
print("\nFiltered words:")
result = c.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(c[result])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

## Question 5:
Consider the following as my DataFrame,Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [24]:
a = pd.Series(["An","Di","ka","Ja","Em","Mi","Ma","La","Ke","Jo"])
b = pd.Series([12.5,9.0,16.5,"NaN",9.0,20.0,14.5,"Nan",8.,19.0])
c = pd.Series([1,3,2,3,2,3,1,1,2,1])
d = pd.Series(["yes","no","yes","no","no","yes","yes","no","no","yes"])
df = {"name":a,"score":b,"attempts":c,"qualify":d}
label = list("abcdefghij")
df1 = pd.DataFrame(df)
df1.set_index(pd.Index(label))
df1[df1["attempts"]>2]

  name score  attempts qualify
1   Di     9         3      no
3   Ja   NaN         3      no
5   Mi    20         3     yes